
	<section id="artdisplay" class="center">
	    <div class="btn btn-inverse btn-block">
	    	<%=artist.fname + " " +artist.lname %> 
	    </div>
	    
	    <div class="Art_pic_header icon-envelope">
		<%= artist.email%>
		<br>
		<%=artist.title%>
	    </div>
	    <br>

	    <div class="art_pic">
		<%= link_to artist.artpic.url do %>
			<%= image_tag artist.artpic.url(:thumb), size: "200x200"%>
		<% end %>
	    </div>
	    <br>

	 	<div class="icon-user">
		<%= link_to_unless_current "Artist Profile", artist_path(artist), :class=>"artist_profile_link" %>
	    </div> 

	    <% if current_user && current_user.role == "member" %>
    

			<%= form_tag charges_path do %>
				<label class="amount">
			      <span> <%= number_to_currency(artist.price.to_f) %></span>
			    </label>
                  
                  <div class="stripe">
				  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
				          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
				          data-description="Great piece of art!"
				          data-name="Art Gallery"
				          data-amount=<%= artist.price.to_f*100%>>

				  </script>
				  <div>

	        <% end %>

	    <% end %>


	

		
</section>









