

<div id="artdisplay" class="center">
	First Name: <%=artist.fname%> 
	<br>
	Last Name: <%=artist.lname%>
	<br>
	Email: <%=artist.email%>
	<br>
	Work Title: <%=artist.title%>
	<br>
	<%= link_to artist.artpic.url do %>
		<%= image_tag artist.artpic.url(:thumb) %>
	<% end %>
	<br>
	<%= link_to_unless_current "Artist Profile", artist_path(artist) %>
	<% if current_user && current_user.role == "member" %>
		<span><%= link_to image_tag("icon_checkout.gif"), charges_path %></span>
	<% else %>
    	<span><%= link_to image_tag("icon_checkout.gif"), new_user_registration_path %></span>	
	<% end %>
</div>