<section id="artdisplay" class="center">
	First Name: <%=artist.fname%> 
	<br>
	Last Name: <%=artist.lname%>
	<br>
	Email: <%=artist.email%>
	<br>
	Work Title: <%=artist.title%>
	<br>
	<%= link_to artist.artpic.url do %>
		<%= image_tag artist.artpic.url(:thumb), size: "200x200"%>
	<% end %>
	<br>
	<%= link_to_unless_current "Artist Profile", artist_path(artist) %>
	<% if current_user && current_user.role == "member" %>
		<span><%= link_to image_tag("icon_checkout.gif"), charges_path %></span>

		<%= form_tag charges_path do %>
		  <article>
		    <label class="amount">
		      <span>Amount: <%= number_to_currency(artist.price.to_f) %></span>
		    </label>
		  </article>

		  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
		          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
		          data-description="This great piece of art!"
		          data-amount=<%= artist.price.to_f*100%>>
		  </script>

 <% end %>

	<% else %>
    	<span><%= link_to image_tag("icon_checkout.gif"), new_user_registration_path %></span>	
	<% end %>
</section>