
<% if current_user.role == "artist" %>    
    <%= form_for @artist, html: {multipart: true}  do |f| %> 
      <div>
        
        First Name  <%=f.text_field :fname %>
        <br>
        
        Last Name  <%=f.text_field :lname %>
        <br>

        Email  <%=f.text_field :email %>
        <br>
        
        Location <%=f.text_field :location%>
        <br>

        
        Work Title <%=f.text_field :title%>
        <br>
        
        Bio <%=f.text_area :bio%>
        <br>

        <br>
        
        Art Upload <%=f.file_field :artpic %>
        <br>

        <%=f.submit :submit, data: {disable_with: "Submitting..."} %>
      </div>    

    <% end %>
<% end %>