<div id="artist">
<% if current_user.role == "artist" %>    
    <%= form_for @artist, html: {multipart: true}  do |f| %> 
      <div>
        
        <div class="artist_input">First Name</div><%=f.text_field :fname %>
        <br>
        
        <div class="artist_input">Last Name</div><%=f.text_field :lname %>
        <br>

        <div class="artist_input">Email </div><%=f.text_field :email %>
        <br>
        
        <div class="artist_input">Location</div> <%=f.text_field :location%>
        <br>

        
        <div class="artist_input">Work Title</div> <%=f.text_field :title%>
        <br>
        
        <div class="artist_input">Bio</div> <%=f.text_area :bio, :rows=> "5" %>
        <br>
        <br>
        
        <%=f.file_field :artpic, :class=>"file_field" %><br>

        <%=f.submit :submit,:value=>"Submit",:class=>"btn btn-inverse btn-block", data: {disable_with: "Submitting..."}, :id=>"artist_submit_button" %>
      </div>    

    <% end %>
<% end %>
</div>

