<h3 class="profile_header"><%=@artist.fname%> <%=@artist.lname%>'s Profile</h3>

<div class="box">
	<p><b>Location</b>: <%=@artist.location %></p>
	<p><b>Bio</b>: <%=@artist.bio%></p>
	
</div>


<%= render "artist", artist: @artist %>

<% if current_user && current_user.role == "artist" %> 
    <div>
	<%=link_to " Edit", edit_artist_path, :class=>"btn btn-inverse icon-pencil edit_button" %>
	</div>

	<button class="btn btn-danger delete_button" type="button"><i class="icon-warning-sign"></i><%=link_to " Delete Profile", artist_path(params[:id]), method: :delete, data: {confirm: "Are you sure you want to delete your profile?"}, :class=>"delete_profile"  %>
	</button>

<% else %>
	<%=link_to "Back", root_path, :class=>"btn btn-inverse back-button icon-warning-sign" %>
<% end %>
