<h1><%=@artist.fname%>'s Profile</h1>

<div>
	<p>Location: <%=@artist.location %></p>
	<p>Bio: <%=@artist.bio%></p>
	<%= render "artist", artist: @artist %>
</div>

<% if current_user.role == "artist" %> 
<%=link_to "Edit", edit_artist_path%>
<%=link_to "Delete Profile", artist_path(params[:id]), method: :delete, data: {confirm: "Are you sure you want to delete this?"} %>
<% end %>