<h1><%=@artist.fname%>'s Profile</h1>

<p>Location: <%=@artist.location %></p>
<p>Bio: <%=@artist.bio%></p>

<p>
	<%= render "artist", artist: @artist %>
</p>

<% if current_user.role == "artist" %> <!-- if can? [:update, :delete], @artist  -->
<%=link_to "Edit", edit_artist_path%>
<%=link_to "Delete Profile", artist_path(params[:id]), method: :delete, confirm: "Are you sure you want to delete this?" %>
<% end %>