<div id="login">
	<h1>Log in</h1>

	<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
	  
	  <%= f.email_field :email, autofocus: true,:id=>"username", :placeholder=>"Email Adress"%><br><br>

	  <%= f.password_field :password, autocomplete: "off", :placeholder=>"Password",:id=>"username" %><br><br>

	  <% if devise_mapping.rememberable? -%>
	    <%= f.check_box :remember_me, :id=>"remember_btn" %> <%= f.label :remember_me, :id=>"remember_me" %>
	  <% end -%>

	  <%= f.submit "Log in", :id=>"login_submit" %>
	<% end %>
</div>		


<%= render "devise/shared/links" %>
 
