<!DOCTYPE html>
<html>
<head>
  <title>GalleryApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <ul>

    <li><%=link_to "Home", root_path%></li>
    <li><%=link_to "Artists", artists_path%></li>
    <li><%=link_to "Create Artist", new_artist_path%></li>

    </ul>
  </nav>

	<% flash.each do |key, value| %>
	   <%= value %>
	<% end %> 

    <% if user_signed_in? %>
       Welcome <%= current_user.fname %> 
	   <%= link_to "logout", destroy_user_session_path, method: :delete, confirm: "CONFIRM LOGOUT"  %>

	<% end %>

  <%= yield %>

</body>
</html>
