<!DOCTYPE html>
<html>
<head>
  <title>GalleryApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- #############  Header ############# -->
  <header>
    <div id="logo">Art Gallery App</div>

    <div id="usersignedin" > 
      <% if user_signed_in? %>
         Welcome, <%= current_user.fname %> 
       <%= link_to "logout", destroy_user_session_path, method: :delete, data: {confirm: "CONFIRM LOGOUT"}  %>
      <% end %>
    </div> 

    <div id="flash">
  	<% flash.each do |key, value| %>
  	   <%= value %>
  	<% end %> 
    </div>
  </header>

    <nav>
      <ul>
        <li><%=link_to "Home", root_path%></li>
        <li><%=link_to "Sign In", new_user_session_path%></li>
        <% if current_user && current_user.role == "artist" %>
        <li><%=link_to "Create Artist", new_artist_path %></li>  
        <% end %>
      </ul>
    </nav>



  <%= yield %>

</body>
</html>
